{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "lib": "./src/lib",
          "models": "./src/models"
        },
        "cwd": "babelrc"
      }
    ],
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-class-properties"
  ]
}