{
  "some_customer_b2b_portal": {
    "discountConfiguration": {
      "customerDiscount": {
        "enableCustomerDiscount": true,
        "percentageMetafield": {
          "metafieldNamespace": "custom",
          "metafieldKey": "hej"
        }
      },
      "productDiscount": {
        "noDisountShopifyProductIds": [
          "7984356819196"
        ]
      }
    },
    "cartConfiguration": {
      "customerConfiguration": {
        "enableSingleUnits": true,
        "singleUnitsMetafield": {
          "metafieldNamespace": "dtails_b2b_portal",
          "metafieldKey": "allow_single_units"
        }
      }
    },
    "checkoutConfiguration": {
      "paymentMethodConfiguration": {
        "enableCardMethod": true,
        "customerConfiguration": {
          "disallowInvoiceMetafield": {
            "metafieldNamespace": "dtails_b2b_portal",
            "metafieldKey": "disallow_invoice"
          },
          "disallowCardMetafield": {
            "metafieldNamespace": "dtails_b2b_portal",
            "metafieldKey": "disallow_card"
          }
        }
      },
      "minimumOrderFeeConfiguration": {
        "enable": true,
        "feeShopifyVariantId": "7984356819196",
        "minimumOrderPrice": [
          {
            "amount": "200",
            "currencyCode": "DKK"
          },
          {
            "amount": "70",
            "currencyCode": "EUR"
          }
        ]
      }
    }
  }
}